<p>
  
    <span class="titulo">SOLARIS EL CAFE DEL SOL </span>
</p>

<main class="content">
  
    <h1 class="textoespecial">Contactanos para resolverte cualquier duda o sugerencia</h1>
    <h2 class="texto"> Nuestra linea telefonica disponible las 24 horas de los 7 dias de la semana 
        para toda la republica Mexicana +51 8714902384</h2>
    <h2 class="texto"> Nuestro correo electronico disponible las 24 horas de los 7 dias de la semana 
        internacionalmente  Solariselcafedelsol.com </h2>
   <h2 class="textoespecial"> Solaris siempre estara disponible para ti</h2>
</main>