

<div style="margin-bottom: 10px; margin-top: 50px;margin-left: 20px; margin-right: 20px;text-align: center; background-color: #f28930;">
    <div> 
      <img class="imggbarra"  src="assets/SolarisLogo.png"></div>
    <span class="titulo">   SOLARIS : EL CAFE DEL SOL </span>
  
  </div>
  
  <main>
  
      
    
  
  
    <div style=" margin: auto; width: 30px; height: 20px; ">
      <img  src="assets/CafeAmigos.jpg">
    </div>
  
  
    <div> 
  
    <h1 class="textoespecial">Contactanos para resolverte cualquier duda o sugerencia</h1>
   
    <h2 class="texto"> Nuestra linea telefonica disponible las 24 horas de los 7 dias de la semana 
        para toda la republica Mexicana +51 8714902384</h2>
    <h2 class="texto"> Nuestro correo electronico disponible las 24 horas de los 7 dias de la semana 
        internacionalmente  Solariselcafedelsol.com </h2>
   <h2 class="textoespecial"> Solaris siempre estara disponible para ti</h2>
  
  </div>
  
  </main>
  <div style="margin-bottom: 40px; margin-top: 50px;text-align: center; background-color: #f28930;">

    <div style="margin-bottom: 40px; margin-top: 50px;text-align: center; background-color: #f28930;">
      <button class="botones" (click)="contacto()">Contacto</button>
      <button class="botones" (click)="Solaris()">Solaris</button>
      <button class="botones" (click)="home()">Home</button>
      <button class="botones"(click)="GranosSolaris()" >Nuestros granos</button>
    
     </div>  </div>