
  
  <h1>  <span class="titulo">SOLARIS "EL CAFE DEL SOL" </span> </h1> 




<main class="content">
    <h2 class="texto">
        Solaris es una empresa Mexicana fundada en Oaxaca en el año 2005, recién cumpliendo 20 años en generando sonrisas en las mañanas de nuestros consumidores. Nuestro café es 100% natural cultivado directamente de nuestros campos Zacatlit y y cosechados artesanalmente para que su aroma y sabor se mantenga fuerte y duraredo al llegar a los hogares.
        Solaris tiene la meta de expandirse internacionalmente, aunque nuestra sede oficial este ubicada en Oaxaca contamos con dos sedes oficiales en Argentina y Canadá pero esforzándonos para nuestra siguiente cede en Japon sea igual de exitosa y hogareña como todas las sedes Solaris.
        
        </h2>



  
</main>