
<div style="margin-bottom: px; text-align: center; background-color: #f28930;">
  <div> 
    <img class="imggbarra"  src="assets/SolarisLogo.png"></div>
  <span class="titulo">   SOLARIS : EL CAFE DEL SOL </span>

</div>


<main>
  <div> 
  <h1 class="textoespecial">Contamos con gran variedad de cafe en grano para tu disfrute</h1>
  
  <h2 class="texto">
    Solaris es una empresa Mexicana fundada en Oaxaca en el año 2005, recién cumpliendo 20 años en generando sonrisas en las mañanas de nuestros consumidores. Nuestro café es 100% natural cultivado directamente de nuestros campos Zacatlit y y cosechados artesanalmente para que su aroma y sabor se mantenga fuerte y duraredo al llegar a los hogares.
    Solaris tiene la meta de expandirse internacionalmente, aunque nuestra sede oficial este ubicada en Oaxaca contamos con dos sedes oficiales en Argentina y Canadá pero esforzándonos para nuestra siguiente cede en Japon sea igual de exitosa y hogareña como todas las sedes Solaris.
    
    </h2>
  </div>
  <div> 
    <img  src="assets/OaxacaCafe.jpg">
  
  </div>
</main>

<div style="margin-bottom: 40px; margin-top: 50px;text-align: center; background-color: #f28930;">
  <div> 
    <div style="padding-top: 30px; padding-bottom: 30px;">
      <button  class="botones">Contacto</button>
      <button class="botones" >Solaris</button>
      <button class="botones" >Home</button>
      <button class="botones" >Nuestros granos</button>
    
     </div>
</div>