.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding-top: 30px;
    color: #f28930;
    text-align: center;
}

.textoespecial{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 15px;
    color: #e3af38;
    text-align: center;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 15px;
    color: black;
    text-align: center;
}
.botones{
   
    justify-content: center;
    display: block;
     width: 200px;
     height: 50px;
     background-color: #f5d3bd ;
     border: 2px solid #f28930;
     color: black;
     text-align: center;
     line-height: 50px;
     font-size: 16px;
     margin: 0 auto; 
     cursor: pointer;

}


  .content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
        color:white;
        font-size: 30px;
        margin-left: 8px;
        min-width: 120px;
        padding-bottom: 10px;

  }


  .imgg {
   
    justify-content: center;
    display: block;
     width: auto;
     height: auto;
     text-align: center;
     line-height: 50px;
     font-size: 16px;
     margin: 0 auto; 
     cursor: pointer;
  }
