<p>
  
    <span class="titulo">SOLARIS EL CAFE DEL SOL </span>
</p>

<main class="content">
  
    <h1 class="textoespecial">Contamos con gran variedad de cafe en grano para tu disfrute</h1>

    <h1 class="textoespecial"> Arábica (Coffea arabica) </h1>
   <h2 class="texto"> 
    Origen: Etiopía.
    Sabor: Suave, dulce, con notas frutales y florales. Baja acidez y menos amargor.
    Cafeína: Menor contenido de cafeína en comparación con otros tipos.
    Popularidad: Representa aproximadamente el 60-70% de la producción mundial. Es la variedad más apreciada por su calidad.
    Cultivo: Prefiere climas frescos, altitudes elevadas y requiere más cuidados.
</h2>
<h1 class="textoespecial">  2. Robusta (Coffea canephora) </h1>
    <h2 class="texto"> 

    Origen: África subsahariana.
    Sabor: Más fuerte, con notas amargas, terrosas y un cuerpo más pesado.
    Cafeína: Alto contenido de cafeína, casi el doble que el arábica.
    Popularidad: Más resistente a plagas y enfermedades; se usa en mezclas para añadir fuerza o en cafés instantáneos.
    Cultivo: Crece a altitudes más bajas y soporta temperaturas más altas.
</h2>
<h1 class="textoespecial">  3. Libérica (Coffea liberica)</h1>
    <h2 class="texto"> 

    Origen: África Occidental, especialmente Liberia.
    Sabor: Un perfil único, con notas ahumadas, amaderadas o especiadas.
    Granos: Más grandes y de forma irregular en comparación con otras variedades.
    Popularidad: Menos común, se cultiva principalmente en Malasia, Filipinas y algunas partes de África.
    Cultivo: Crece en condiciones cálidas y húmedas, pero es menos resistente que el robusta.
</h2>
<h1 class="textoespecial"> 4. Excelsa (Coffea excelsa o Coffea liberica var. dewevrei) </h1>
    <h2 class="texto"> 

    Origen: Antes se consideraba una especie independiente, pero ahora se clasifica como una variedad de la libérica.
    Sabor: Notas afrutadas y ácidas, con un cuerpo ligero y un perfil complejo que combina dulzura y acidez.
    Popularidad: Se cultiva principalmente en el sudeste asiático, en especial Filipinas.
    Cultivo: Crece en climas tropicales y tolera altitudes variadas.
</h2>

</main>